#wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
   
  }

  .content-box {
    width: 100%;
    min-height: 700px;
    position: relative;
    background: rgb(236, 237, 238);
    padding: 30px;

}


#boxes {
    display: flex;
    flex-wrap: wrap;
}

#error {
    display: none;
}

#resultMessage {
    display: none;
}